<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Alamofire.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Bolts.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>DatePickerDialog.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FBSDKCoreKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FBSDKLoginKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FBSDKShareKit.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FacebookCore.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FacebookLogin.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>FacebookShare.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>GTMSessionFetcher.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>GeoFire.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>GoogleToolboxForMac.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>LSGMarqueeView.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>PMAlertController-PMAlertController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>PMAlertController.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SIX Driver.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SIX DriverTests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>Pods-SIX DriverUITests.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SDWebImage.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SwiftMessages-SwiftMessages.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SwiftMessages.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>SwiftyPickerPopover.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>libPhoneNumber-iOS.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
		<key>libwebp.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>024816C3B2B6CEA383D66CBDCF8827A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0589693F593AE4C0278975CAFC8B2789</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F90163C2AF082868CD386EB928F0E8D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>184A1650DC0B648BD756068E60BF2C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E9C3F942E08DFB188BE4A137B92C9CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>238B36AD4C67F80D7D67CD06CD816652</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>23BA9083ED0D2392A167A8AFA04427FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>287DB34AF861268C268D0E79516230F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>293A18A1ED81F668DFF0576483305170</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31418D425B97E292FFAFC566D79FC144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>332F91393FB1DE033D370B4CEDDD5FCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41BD3349CB230DFF8CB597BE3492D373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44CAD6CE523055ED339E87154473A254</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>508428226AAE95BBDBC3B3619DBC3BF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>533607A808BC64912197562E016B6085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>593E9479C06FB200807D11AB29EB50BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5A0A28913A1212C2D1EACECBA1E58AC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B5AC3C06B783F8674FDB4C0F900B56A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DAF8E08F29B50E179C77F45A78E7565</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>715D8A9F73592DBEFB202CD6D6CFC892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7335E9C9689F3B8A16F063A884748533</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>79C040AFDDCE1BCBF6D8B5EB0B85887F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D5D891676725492FDD435B2ACEBBB3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8329B4DD82B7A073B34A61C9527865D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86B426920AE85860EE1DD3834AE72D82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88E9EC28B8B46C3631E6B242B50F4442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F631F8A3724C149C7608EE9B1F92948</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>95EA07FC6489E04703E578358AEB88EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99183593E3C04F0C7720EF0DA4A0159B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D0F2E5EA1B46A5D72FFD42B0B39DBBC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1A47603149FCF17E8BADB6EC4ECAC54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5DB1CC72553A79A50EB84ABD51880B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A6DE40703869701B95B9379764D0763E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A79DC8F5606F6D28D8D17C45867D0779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7FEAA14E89971698ACA148F7F7202F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8F77DC39F7D0CFE46DAA5C135D96A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A91590B3F1E7DE83DBF2B36BE7FAC03B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A92BB0C3FC5CF1DF3D7055D4508317DD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4CC71B3394A4822693797551BE96CAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B717DF6ED4D0837B29F912D88262CE64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF2B97FE12135C8ADF6530A335538687</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C052BEBFBD0AB5218CC64BA3450F6547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2AB96F7E8DD8856CD05BD74C0ABBF9C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C2E13A230010FFCB293D7FCC75D05913</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C460E0D71D60304476DF3458E74A505F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD2F5877B62BD092DF8A401B606391B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D442A1063E1FD2A0AB8ACF96C63173A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D54FDD5C741942E89778C6F1AD56A429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F2D227547A84C0F9F977BA652B52A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7DB3C7C21F358BD086BEE0414F21C69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8D2BC32194A542816C9F2622A23C5DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD707E469C8D0BEA816D740155A3B629</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDBCFDE490CDFDABF6F16A26F346932D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E5AB1C0293AFBBE30818EC1F7565FA51</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFB10A48777C6607E58D7036B744B181</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBD14EF934F1CC975B47F868BA495E5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFD002F8CAC67B4F6CAA1979B6646C2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
