<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Alamofire.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Bolts.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DatePickerDialog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FBSDKCoreKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>FBSDKLoginKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>FBSDKShareKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>FacebookCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>FacebookLogin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>FacebookShare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>GTMSessionFetcher.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>GeoFire.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>GoogleToolboxForMac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>LSGMarqueeView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>PMAlertController-PMAlertController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>PMAlertController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>Pods-SIX Driver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>Pods-SIX DriverTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>Pods-SIX DriverUITests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>SDWebImage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>Stripe-Stripe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>Stripe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>SwiftMessages-SwiftMessages.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>SwiftMessages.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>SwiftyPickerPopover.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>libPhoneNumber-iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>libwebp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0589693F593AE4C0278975CAFC8B2789</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>184A1650DC0B648BD756068E60BF2C59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>332F91393FB1DE033D370B4CEDDD5FCF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44CAD6CE523055ED339E87154473A254</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>593E9479C06FB200807D11AB29EB50BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B5AC3C06B783F8674FDB4C0F900B56A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5DAF8E08F29B50E179C77F45A78E7565</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>715D8A9F73592DBEFB202CD6D6CFC892</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7335E9C9689F3B8A16F063A884748533</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7D5D891676725492FDD435B2ACEBBB3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>86B426920AE85860EE1DD3834AE72D82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>88E9EC28B8B46C3631E6B242B50F4442</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>99183593E3C04F0C7720EF0DA4A0159B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A1A47603149FCF17E8BADB6EC4ECAC54</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5DB1CC72553A79A50EB84ABD51880B7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A79DC8F5606F6D28D8D17C45867D0779</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A7FEAA14E89971698ACA148F7F7202F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B4CC71B3394A4822693797551BE96CAE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF2B97FE12135C8ADF6530A335538687</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C052BEBFBD0AB5218CC64BA3450F6547</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D442A1063E1FD2A0AB8ACF96C63173A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D54FDD5C741942E89778C6F1AD56A429</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5F2D227547A84C0F9F977BA652B52A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8D2BC32194A542816C9F2622A23C5DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDBCFDE490CDFDABF6F16A26F346932D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FBD14EF934F1CC975B47F868BA495E5E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
